.myImage {
  max-height: 80vh;      /*  or 100% of container */
  width: 100%;    /* or 100% of container */
  object-fit: cover; /* none can be an option too as cover may deform it*/
  object-position: 50% 50%; /* if both 50% will center it*/
}

.cardHeight {
  max-height: 80vh;      /*  or 100% of container */
}

.removeBorder {
  border: none;
  border-radius: none;
}