
<!-- heor image section -->
<div class="card bg-light text-white border-0">
  <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img removeBorder rounded-0 myImage" alt="...">
  <div class="card-img-overlay d-flex flex-column align-items-center position-absolute top-50">
    <h5 class="card-title text-uppercase fs-1 fw-bold textShadow">Card title</h5>
    <p class="card-text textShadow">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a class="btn btn-outline-light shadow" routerLink="blog">Discover more</a>
  </div>
</div>

<!-- about us section -->

  <!-- why choose us-->

  <!-- team -->