<!-- creating layout for basket -->

<div class="container mt-3 mb-3 pt-3 pb-3 w-50 heightCart shadow-sm">
  <h1 class="text-center pb-3 text-uppercase fw-light">Summary of your order</h1>
  <div class="">
    <ul class="list-group text-dark">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let destination of destinationsInCart">

        <!-- here comes the dynamic content -->
        <span class="text-dark fw-light">{{ destination.destName }}</span>
        <span class="text-dark fw-light">{{ destination.price }}€</span>
      </li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center text-dark">
        
        <!-- here comes the output from the calculations -->
        <span class="text-dark fw-light text-uppercase">Total <span class="text-lowercase">(no discount applied)</span></span>
        <span class="text-dark fw-light text-uppercase">{{ cartTotal }}€</span>
      </li>
      <li class="list-group-item d-flex justify-content-end border-bottom-0">
        <button type="button" class="btn border-gold shadow-sm fw-lighter rounded-pill" (click)="getDiscount(discount)">Calculate discount</button>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="text-dark fw-light text-uppercase">Total <span class="text-lowercase">(incl. discount)</span></span>
        <span class="text-dark fw-light text-end" id="discountMsg">{{ discount }}€</span>
      </li>
    </ul>
    <button type="button" class="btn bg-gold text-light fw-lighter shadow-sm m-3" (click)="onSubmit()">Purchase now</button>
  </div>
</div>
