<!-- add layout for the navbar visible on all sites -->
<nav class="navbar navbar-light bg-light shadow-sm">
  <div class="container-fluid d-flex justify-content-center justify-content-md-between">
    <a class="navbar-brand fs-1 text-gold fw-light" routerLink="/"><i class="text-gold fas fa-route"></i><span class="text-gold fw-light"> Travelio</span></a> 
    <ul class="nav text-uppercase">
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="/"><span class="text-gold fw-light">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="blog"><span class="text-gold fw-light">Blog</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="travels"><span class="text-gold fw-light">Travels</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="cart"><i class="text-gold fas fa-shopping-cart"></i><span class="text-gold fw-light"> {{cartLength}}</span></a> <!-- instead of "cart" the amount of items will be inserted -->
      </li>
    </ul>
  </div>
</nav>