/* adding global styles for all elements */

  /* varibales */
$brand-color-1: #333;
$brand-color-1-opacity-02: rgba(51, 51, 51, 0.2);
$brand-color-1-opacity-04: rgba(51, 51, 51, 0.4);
$brand-color-2: #d4af37;
$brand-color-3: #fcfcfc;


  /* text transformation */
.textShadow {
  text-shadow: 2px 2px 5px #333;
}

.textShadowIcons {
  text-shadow: 1px 1px 3px $brand-color-1-opacity-02;
}

.fontSmall-13 {
  font-size: 13px;
}

.iconSize-60 {
  font-size: 60px;
}


/* stylings for cards */
.removeBorder {
  border: none;
  border-radius: none;
}

.bgOpacity {
  background-color: $brand-color-1-opacity-04;
}

/* styles for changing colors */

  /* changing color of border */
.border-grey {
  border: 1.5px solid $brand-color-1;
}

.border-gold {
  border: 1.5px solid $brand-color-2;
}

.border-white {
  border: 1.5px solid $brand-color-3;
}

  /* changing color of text*/
.text-grey {
  color: $brand-color-1;
}

.text-gold {
  color: $brand-color-2;
}

.text-white {
  color: $brand-color-3;
}

  /* changing color of bachground */
.bg-grey {
  background-color: $brand-color-1;
}

.bg-gold {
  background-color: $brand-color-2;
}

.bg-white {
  background-color: $brand-color-3;
}