<!-- layout for the blog page -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 mt-3 mb-3">
      <!-- main pic -->
      <div class="card bg-dark text-white removeBorder">
        <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img rounded-0 shadow" alt="...">
        <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
    
    <!-- sidebar -->
    <div class="col-sm-12 col-lg-4 d-flex justify-content-between">
      <div class="row">
        <div class="col-sm-6 col-lg-12 mt-3">
          <div class="card bg-dark text-white removeBorder">
            <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img rounded-0 shadow" alt="...">
            <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>        
        </div>

        <div class="col-sm-6 col-lg-12 align-self-end mt-3 mb-3">
          <div class="card bg-dark text-white removeBorder">
            <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img rounded-0 shadow" alt="...">
            <div class="card-img-overlay text-center d-flex flex-column justify-content-center">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  
  <!-- two articles in a row -->
  <div class="row ">
    <div class="col-12 col-md-6 col-lg-4 mt-3 mb-3">
      <div class="card text-dark removeBorder rounded-0 shadow-sm pb-3">
        <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img-top rounded-0" alt="...">
        <div class="card-body text-center">
          <p class="card-text text-uppercase fontSmall-13">guides</p>
          <h5 class="card-title">Blog Entry Title</h5>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="assets/img/employees/allef-vinicius-C_1jjFJioWg-unsplash.jpg" class="card-img-top rounded-circle blogImg" alt="...">
            <p class="card-text p-3 p-md-2 fontSmall-13">by Employee Name, June 10 2019</p>
          </div>
          <p class="card-text pt-2 pb-0 text-start">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer...</p>
          <button type="button" class="btn btn-outline-dark">Continue reading</button>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-4 mt-3 mb-3">
      <div class="card text-dark removeBorder rounded-0 shadow-sm pb-3">
        <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="card-img-top rounded-0" alt="...">
        <div class="card-body text-center">
          <p class="card-text text-uppercase fontSmall-13">guides</p>
          <h5 class="card-title">Blog Entry Title</h5>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="assets/img/employees/allef-vinicius-C_1jjFJioWg-unsplash.jpg" class="card-img-top rounded-circle blogImg" alt="...">
            <p class="card-text p-3 p-md-2 fontSmall-13">by Employee Name, June 10 2019</p>
          </div>
          <p class="card-text pt-2 pb-0 text-start">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer...</p>
          <button type="button" class="btn btn-outline-dark">Continue reading</button>
        </div>
      </div>
    </div>

    <!-- sidebar -->
    <div class="col-sm-12 col-lg-4 mt-3 mb-3 favArticleBorder align-self-center shadow-sm">
        <div class="row">
          <div class="col-sm-12">
            <div class="card text-dark pt-3 pb-3 rounded-0 removeBorder">
              <h5 class="card-text text-center pt-3 pb-3 fw-light text-uppercase">customer's favorite article</h5>
              <img src="assets/img/employees/elizeu-dias-2EGNqazbAMk-unsplash.jpg" class="card-img-top rounded-circle shadow favArticleImg" alt="...">
              <div class="card-body text-center">
                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-outline-dark">Continue reading</button>
              </div>
            </div>
          </div>
        </div>
     </div>
    
     <!-- latest articles overview --- bottom of the page -->
    <div class="col-sm-12 col-lg-12 mt-3 mb-3">
      <h5 class="card-text text-center pt-3 pb-2 fw-light text-uppercase"> latest posts </h5>
      <div class="d-flex flex-column flex-lg-row justify-content-center">

        <div class="d-flex flex-row justify-content-around">
          <div class="card removeBorder p-lg-3">
            <div class="col-sm-12">
              <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">December 21, 2021</p>
              </div>
            </div>
          </div>

          
  
          <div class="card removeBorder p-lg-3">
            <div class="col-sm-12">
              <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">December 21, 2021</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around">
          <div class="card removeBorder p-lg-3">
            <div class="col-sm-12">
              <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">December 21, 2021</p>
              </div>
            </div>
          </div>
  
          <div class="card removeBorder p-lg-3">
            <div class="col-sm-12">
              <img src="assets/img/andreas-m-q-4953SkCqY-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">December 21, 2021</p>
              </div>
            </div>
          </div>
        </div>

        

      </div>
    </div>
    
  </div>
</div>