<!-- layout for the blog page -->

<div class="container mt-3 mb-3 pt-3 pb-3">
  <h1 class="text-center pb-3 text-uppercase fw-light">Welcome to our blog</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <!-- main pic -->
      <div class="card bg-dark text-white removeBorder pointerMouse">
        <img src="assets/img/destinations/Landschaft_Portugal_IMG_20200920_111203.jpg" class="card-img rounded-0 shadow" alt="...">
        <div class="card-img-overlay text-center d-flex flex-column justify-content-center p-5 bgOpacity">
          <h3 class="card-title fw-light text-uppercase textShadow">surfing in portugal</h3>
          <p class="card-text textShadow">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nulla eos, enim aperiam eveniet doloremque consectetur aliquid. Blanditiis fugiat sequi autem?</p>
        </div>
      </div>
    </div>
    
    <!-- sidebar -->
    <div class="col-sm-12 col-lg-4 d-flex justify-content-between">
      <div class="row">
        <div class="col-sm-6 col-lg-12 pointerMouse">
          <div class="card bg-dark text-white removeBorder">
            <img src="assets/img/destinations/iceland-joshua-earle-Hn8N4I4eHA0-unsplash.jpg" class="card-img rounded-0 shadow" alt="...">
            <div class="card-img-overlay text-center d-flex flex-column justify-content-center bgOpacity">
              <h5 class="card-title fw-light text-uppercase textShadow">aurora borealis</h5>
            </div>
          </div>        
        </div>

        <div class="col-sm-6 col-lg-12 align-self-end pointerMouse">
          <div class="card bg-dark text-white removeBorder">
            <img src="assets/img/destinations/japan-emran-yousof-XjElJwfg_r4-unsplash.jpg" class="card-img rounded-0 shadow" alt="...">
            <div class="card-img-overlay text-center d-flex flex-column justify-content-center bgOpacity">
              <h5 class="card-title fw-light text-uppercase textShadow">busy busy busy japan</h5>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  
  <!-- two articles in a row -->
  <div class="row ">
    <div class="col-12 col-md-6 col-lg-4 mt-4 mb-3">
      <div class="card text-dark removeBorder rounded-0 shadow-sm pb-3 pointerMouse">
        <img src="assets/img/destinations/turkey_roxanne-desgagnes-jWqushQqmT4-unsplash.jpg" class="card-img-top rounded-0" alt="...">
        <div class="card-body text-center">
          <p class="card-text text-uppercase fontSmall-13 text-grey">guides</p>
          <h5 class="card-title m-3 fs-5 fw-light text-uppercase text-gold">Food & culture in Turkey</h5>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="assets/img/employees/dan-ROJFuWCsfmA-unsplash.jpg" class="card-img-top rounded-circle blogImg shadow border-gold" alt="...">
            <p class="card-text p-3 p-md-2 fontSmall-13">by Nora Kaminski, June 10 2019</p>
          </div>
          <p class="card-text pt-2 pb-0 text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sapiente soluta facilis placeat blanditiis inventore rerum excepturi...</p>
          <button type="button" class="btn border-gold shadow-sm fw-lighter">Continue reading</button>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-4 mt-4 mb-3">
      <div class="card text-dark removeBorder rounded-0 shadow-sm pb-3 pointerMouse">
        <img src="assets/img/destinations/star-wars_brian-mcgowan-3bETLGHcAUU-unsplash.jpg" class="card-img-top rounded-0" alt="...">
        <div class="card-body text-center">
          <p class="card-text text-uppercase fontSmall-13 text-grey">guides</p>
          <h5 class="card-title fs-5 m-3 fw-light text-uppercase text-gold">In a galaxy far far away</h5>
          <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="assets/img/employees/allef-vinicius-C_1jjFJioWg-unsplash.jpg" class="card-img-top rounded-circle blogImg shadow border-gold" alt="...">
            <p class="card-text p-3 p-md-2 fontSmall-13">by Corina Köpe, June 10 2019</p>
          </div>
          <p class="card-text pt-2 pb-0 text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor quidem corporis maxime, et provident...</p>
          <button type="button" class="btn border-gold shadow-sm fw-lighter">Continue reading</button>
        </div>
      </div>
    </div>

    <!-- sidebar -->
    <div class="col-sm-12 col-lg-4 mt-4 mb-3 favArticleBorder align-self-center shadow-sm">
        <div class="row">
          <div class="col-sm-12 pointerMouse">
            <div class="card text-dark pt-3 pb-3 rounded-0 removeBorder">
              <h5 class="card-text text-center pt-3 pb-3 fs-4 fw-light text-uppercase text-gold">customer's favorite article</h5>
              <img src="assets/img/employees/elizeu-dias-2EGNqazbAMk-unsplash.jpg" class="card-img-top rounded-circle shadow favArticleImg border-gold" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title fs-5 fw-light text-uppercase">Ed shares the best ways to book holidays</h5>
                <p class="card-text text-gold"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis atque, dolore iusto, perferendis odio vero sint maiores accusantium ipsum itaque vitae veniam eaque a? Officiis dolores earum tempora...</p>
                <button type="button" class="btn border-gold shadow-sm fw-lighter">Continue reading</button>
              </div>
            </div>
          </div>
        </div>
     </div>
    
     <!-- latest articles overview --- bottom of the page -->
    <div class="col-sm-12 col-lg-12 mt-3 mb-3 text-center">
      <div class="border-top w-75 d-flex align-self-center marginAuto"></div>
      <h5 class="card-text text-center pt-3 pb-2 fs-4 fw-light text-uppercase text-gold"> latest posts </h5>

      <div class="d-flex flex-column flex-lg-row justify-content-center">
        <div class="d-flex flex-row justify-content-around">

          <div class="card removeBorder p-lg-3 pointerMouse">
            <div class="col-sm-12">
              <img src="assets/img/destinations/peru_willian-justen-de-vasconcellos-4hMET7vYTAQ-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title fs-5 fw-light text-uppercase text-gold">Secrets of Machu Picchu</h5>
                <p class="card-text">December 21, 2021</p>
              </div>
            </div>
          </div>
  
          <div class="card removeBorder p-lg-3 pointerMouse">
            <div class="col-sm-12">
              <img src="assets/img/destinations/nature_laura-chouette-GoUgABgaHhk-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title fw-light text-uppercase text-gold">Into the Wild</h5>
                <p class="card-text">July 01, 2022</p>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row justify-content-around">
          <div class="card removeBorder p-lg-3 pointerMouse">
            <div class="col-sm-12">
              <img src="assets/img/destinations/img-7.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title fw-light text-uppercase text-gold">Norway's nature</h5>
                <p class="card-text">April 11, 2020</p>
              </div>
            </div>
          </div>
  
          <div class="card removeBorder p-lg-3 pointerMouse">
            <div class="col-sm-12">
              <img src="assets/img/destinations/sara-dubler-Koei_7yYtIo-unsplash.jpg" class="shadow favArticleImg" alt="...">
            </div>
            <div class="col-sm-12 ps-2">
              <div class="card-body">
                <h5 class="card-title fw-light text-uppercase text-gold">Pure relax</h5>
                <p class="card-text">September 23, 2021</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>