<!-- add layout for the navbar visible on all sites -->
<nav class="navbar navbar-light bg-light">
  <div class="d-flex flex-column align-items-center w-100">
    <a class="navbar-brand fs-2" routerLink="/"><i class="fas fa-route"></i> Travelio</a> 
    <ul class="nav text-uppercase flex-row">
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="travels">Travels</a>
      </li>
    </ul>
    <div class="w-100 footerCopyrights d-flex justify-content-center align-items-end">
      <p class="fs-6 pt-3 textColor-1 text-center">&#169; Natalia Bochenek CodeFactory 2021</p>
    </div>
  </div>
</nav>