<!-- add layout for the navbar visible on all sites -->
<nav class="navbar navbar-light bg-light">
  <div class="d-flex flex-column align-items-center w-100">
    <a class="navbar-brand fs-1 text-gold fw-light" routerLink="/"><i class="text-gold fas fa-route"></i><span class="text-gold fw-light"> Travelio</span></a> 
    <ul class="nav text-uppercase flex-row">
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="/"><span class="text-gold fw-light">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="blog"><span class="text-gold fw-light">Blog</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-4" routerLink="travels"><span class="text-gold fw-light">Travels</span></a>
      </li>
    </ul>
    <div class="w-100 footerCopyrights d-flex justify-content-center align-items-end">
      <p class="fs-6 pt-3 text-gold fw-light">&#169; Natalia Bochenek CodeFactory 2021</p>
    </div>
  </div>
</nav>